* {
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(79, 2, 151);
}

#box {
    position: absolute;
    top: 7rem;
    left: 21rem;
    width: 33rem;
    height: 73vh;
    border-radius: 1rem;
    background-color: white;
    border: 3px solid lightgrey;
}
.stars{
    background-color: aqua;
    text-decoration: none;
    display: flex;
    margin-top: 5rem;
    height: 5rem;
    align-items: center;
    padding-left: 5rem;
}
.star{
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 2rem;
 

}
.orange{
    color: rgb(67, 212, 0);
}
.yellow{
    color: yellow;
}
.white{
    color: white;
}